In [5]:
# imports
import pandas as pd
import requests

In [4]:
ratings = pd.read_csv('./ratings.csv')
ratings.head()

,Date,Name,Year,Letterboxd URI,Rating
0,2017-11-19,Aliens,1986,https://boxd.it/29PA,4.0
1,2017-12-09,The Edge of Seventeen,2016,https://boxd.it/d5nu,3.5
2,2017-12-10,The Meyerowitz Stories (New and Selected),2017,https://boxd.it/dSp0,3.0
3,2017-12-10,Before Midnight,2013,https://boxd.it/4ive,5.0
4,2017-12-11,Don't Think Twice,2016,https://boxd.it/c3W6,5.0

In [23]:
def get_runtime_in_minutes(title=None, year=None):
    url = ""
    url = f'http://www.omdbapi.com/?t={title}&y={year}&apikey=790d012d'
    r = requests.get(url).json()
    if 'Runtime' in r:
        runtime = int(r['Runtime'].split(" ")[0])
    else:
        runtime = None
    # print(runtime)
    return runtime

In [24]:
runtimes = pd.Series([
    get_runtime_in_minutes(title, year) for (title, year) in zip(ratings['Name'], ratings['Year'])
])

print(runtimes)


# def list_impl(df):
#   cutoff_date = datetime.date.today() + datetime.timedelta(days=2)
#   return pd.Series([
#       eisenhower_action(priority == 'HIGH', due_date <= cutoff_date)
#       for (priority, due_date) in zip(df['priority'], df['due_date'])
#   ])

0      137.0
1      104.0
2      112.0
3      109.0
4       92.0
       ...
431    152.0
432     82.0
433    144.0
434    137.0
435    133.0
Length: 436, dtype: float64

In [25]:
ratings['Runtimes'] = runtimes

In [32]:

ratings.loc[ratings['Runtimes'] == None]

Empty DataFrame
Columns: [Date, Name, Year, Letterboxd URI, Rating, Runtimes]
Index: []

In [26]:
ratings.Runtimes.mean()

112.37971698113208

In [29]:
five_stars = ratings['Rating'] == 5
mean_five_stars = ratings.loc[five_stars, 'Runtimes'].mean()
print(mean_five_stars)

119.97560975609755

In [30]:
# Four stars and up

four_stars = ratings['Rating'] >= 4
mean_four_stars = ratings.loc[four_stars, 'Runtimes'].mean()
print(mean_four_stars)

113.7295918367347

In [33]:

two_stars = ratings['Rating'] <= 2
mean_two_stars = ratings.loc[two_stars, 'Runtimes'].mean()
print(mean_two_stars)

111.67948717948718